.title {
  color: #333;
  /* font-size: 24px; */
  padding: 2rem;
}

.compactWrapper {
  margin: 0 auto;
  display: flex;
  border-radius: 12px 12px 0 0;
  box-shadow: 0 -1px 5px 1px #eee;
}

/* 输入框样式=================================== */
.input {
  flex: 1;
  border: none;
  padding: 4px 6px;
  border-radius: 12px 0 0 0;
  overflow: hidden;
}

.input:focus {
  border: none;
  outline: none;
  border: 1px solid #0094ff;
}

.input:hover {
  border: 1px solid #0094ff;
}

/* 发送按钮样式================================= */
.btn {
  /* margin-left: 20px; */
  border: none;
  padding: 12px 24px;
  border-radius: 0 12px 0 0;
}

.btn:active {
  background-color: #ddd;
}

/* 样式设置 */

.styleConfigWrapper {
  padding: 8px 16px;
  border-radius: 0 0 12px 12px;
  box-shadow: 0 1px 5px 1px #eee;
  background-color: #fff;
}

.formWrapper {
  display: flex;
  flex-wrap: wrap;
}

.formItem {
  margin-right: 20px;
  flex-shrink: 0;
}
