.barrage-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  white-space: nowrap;
}

.barrage-item {
  position: absolute;
  left: var(--offset, 0);
  top: var(--offsetTop, 0);
  animation-name: roll;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-duration: var(--duration, 6s);
  animation-iteration-count: 1;
  animation-delay: 0s;
  animation-play-state: running;
}

.roll-animation-paused {
  animation-play-state: paused;
}

@keyframes roll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(var(--translateX, 0));
  }
}
